.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.card {
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card-img-top {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #555;
}

.btn-primary {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #090c0f;
  color: white;
  border-radius: 4px;
  margin-top: 25px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #84878a;
}
.fav_div{
  display: flex;
  justify-content: space-between;
}
.rating_stars
{
  margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}